@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
.container-fluid{
    padding: 0 !important;
}
.first-section{
    // background-image: url('https://images.unsplash.com/photo-1511800453077-8c0afa94175f?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-image: url('../../../assets/back1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 89vh;
    padding: 5%;
    overflow: hidden;
}

.card{
    padding: 20px;
    background: rgba(255, 255, 255, 0.244);
    backdrop-filter: blur(5px);
    border: 0.4px solid #fff;
    border-radius: 20px;
    width: 30%;
}

.hero-text{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    text-rendering: geometricPrecision;
    text-transform: uppercase;

}
.hero-desc{
    color: white;    
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
}
.col-md-12{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-input{
    width: 100%;
    outline: none;
    border: 1px solid #fff;
    padding: 10px 7px;
    border-radius: 7px;
    margin-top: 10px;
}

.form-input:focus{
    border: 1px solid rgb(58, 0, 128);
}

.form-err{
    border: 2px solid rgb(199, 0, 0);
    width: 100%;
    outline: none;
    padding: 10px 7px;
    border-radius: 7px;
    margin-top: 10px;
}

.err-msg{
    color: rgb(199, 0, 0);
    font-weight: 500;
}

.form-label{
    margin-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.btn1{
    width: 100%;
    padding: 10px 7px;
    background: rgba(255, 255, 255, 0.616);
    border: none;
    border-radius: 7px;
    margin-top: 10px;
    transition: 0.4s ease-in-out;
}
.btn1:focus{
    transform: scale(0.9);
}
.btn1:hover{
    transform: scale(0.9);
}
@media screen and (max-width:991px) {
    .hero-text{
        font-size: 35px !important;
    }
    .card{
        height: auto;
        width: 100% !important;
    }
    .col-md-6{
        margin-top:10px ;
    }
}

@media screen and (max-width:767px) {
    .hero-text{
        font-size: 30px !important;
    }
    .card{
        height: auto;
        width: 100% !important;
    }
}

@media screen and (max-width:1200px) {
    .hero-text{
        font-size: 60px;
    }
    .card{
        height:auto;
        width: 50%;
    }
}