<div class="container-fluid">
  <section id="1st" class="first-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="text-center">
              <h1 class="hero-text">Sign up</h1>
            </div>
            <form [formGroup]="SignIn"  (ngSubmit)="handleSubmit()">
              <div class="row">
                <div class="col-lg-12 mt-1">
                  <label for="username" class="form-label">User name*</label>
                  <input
                    type="text"
                    [ngClass]="signin.uname.invalid && signin.uname.touched ? 'form-err' : 'form-input'"
                    formControlName="uname"
                    placeholder="User name"
                  />
                  <span class="err-msg" *ngIf="signin.uname && signin.uname.invalid && signin.uname.touched">User Name is required</span>
                </div>
                <div class="col-lg-12 mt-1">
                  <label for="email" class="form-label">User Email*</label>
                  <input
                    type="email"
                    [class]="signin.uemail.invalid && signin.uemail.touched ?  'form-err' : 'form-input'"
                    formControlName="uemail"
                    placeholder="User Email"
                  />
                  <span class="err-msg" *ngIf="signin.uemail && signin.uemail.invalid && signin.uemail.touched">User Email is required</span>
                </div>
                <div class="col-lg-12 mt-1">
                  <label for="password" class="form-label"
                    >User Password*</label
                  >
                  <input
                    type="password"
                    [class]="signin.pass.invalid && signin.pass.touched ? 'form-err' : 'form-input'"
                    formControlName="pass"
                    placeholder="Create password"
                    id="pass"
                  />
                  <span class="err-msg" *ngIf="signin.pass && signin.pass.invalid && signin.pass.touched">Password is required</span>
                </div>
                <div class="col-lg-12 mt-1">
                  <label for="cpassword" class="form-label"
                    >Confirm Password*</label
                  >
                  <input
                    type="password"
                    [class]="signin.cpass.invalid && signin.cpass.touched ? 'form-err' : 'form-input'"
                    formControlName="cpass"
                    placeholder="Confirm password"
                    id="cpass"
                  />
                  <span class="err-msg" *ngIf="signin.cpass && signin.cpass.invalid && signin.cpass.touched">Please Confirm your Password</span>
                </div>
                <div class="col-lg-12 mt-1 d-flex justify-space-around" >
                    <input
                        type="checkbox"
                        class="form-check"
                        (change)="displayPassword()"
                    />
                    <label for="password" class="text-light ml-1">{{passwordTxt}}</label>
                  </div>
                <div class="col-md-12 mt-1">
                    <button class="btn1" type="submit" [disabled]="SignIn.invalid">Sign up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
