<div class="container-fluid">
    <section id="1st" class="first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="text-right">
                            <h1 class="hero-text">RJ Industries</h1>
                        </div>
                        <div class="hero-desc">
                            <p>Hello everyone..</p>
                            <p>I am Raj Maisuriya.</p>
                            <p>This Angular project is the example of Proper Login , Signup user <b> Authntication</b> in Angular.</p>
                            <p>The Frontend Techonology is Angular,HTML5,SCSS,bootstrap  and Backend technology is NODEjs,EXPRESSjs,mongoose,mongodb and MONGO DB DATABASE</p>
                            <p>It follows <b> MEAN Stack </b> development.</p>
                            <p><b>M</b>&nbsp;: &nbsp;&nbsp;MONGO DB</p>
                            <p><b>E</b>&nbsp;: &nbsp;&nbsp;EXPRESS JS</p>
                            <p><b>A</b>&nbsp;: &nbsp;&nbsp;ANGULAR </p>
                            <p><b>N</b>&nbsp;: &nbsp;&nbsp;NODE JS</p>
                            <h5><b> About Me </b></h5>
                            <p>
                                I am Raj Maisuriya from surat,gujarat,India-395004. 
                                I am Frontend Developer with the Advanced Knowledge of HTML5,css,scss,javascript,Angularjs,Reactjs.
                                I am Student of computer science.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div>
                            <img src="../../../assets/logo.png" class="img-fluid" alt="">
                        </div>
                        <div class="hero-desc">
                            <h5> <b>Contact Me : </b></h5>
                            <p>You can call or message on my Whatsapp Number : <b><a href="tel:7623870030" class="text-light" >+91 7623870030</a></b> </p>
                            <p>You can Visit my website <b><a href="https://rjitservices-db86d.web.app/"  class="text-light"  target="_blank">@RjINDUSTRIES</a></b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            

    </section>
</div>
